main{
    #projects{
        h2{
            width: 100%;
        }
        article{
            border: 1px solid gray;
            div{
                figure{
                    padding: 0px;
                    img{
                        width: 80%;
                        height: auto;
                    }
                    div{
                        position: absolute;
                        bottom: 0;
                        margin: 0px;
                        width: 100%;
                        left: 50%;
                        transform:translateX(-50%);
                        border: 1px solid gray;
                        background-color: gray;
                        opacity: 0.3;
                        h5{
                            color: violet;
                            font-weight: bolder;
                        }
                        a{
                            text-decoration: none;
                            color: skyblue;
                            font-weight: bold;
                        }
                    }
                }
                figure:hover{
                    div{
                        opacity: 1.0;
                    }
                }
            }
        }
    }
}